.pa-player-page {
    background: var(--bs-light);
}

.pa-player-page .pa-renew-spinner[aria-hidden="true"] {
    display: none;
}
.pa-player-page .pa-renew-spinner[aria-hidden="false"] {
    display: inline-flex;
}

.pa-player-page .card {
    border: 0;
    border-radius: var(--bs-border-radius-xl);
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.03);
}

.pa-stat[data-selected-status="false"] {
    background-color: #ffffff;
}
.pa-stat[data-selected-status="true"] {
    background-color: #e5f9ff;
}

.pa-player-page .card-header:first-child {
    border-top-left-radius: var(--bs-border-radius-xl);
    border-top-right-radius: var(--bs-border-radius-xl);
}

.pa-player-page .list-group-item:last-child {
    border-bottom-left-radius: var(--bs-border-radius-xl);
    border-bottom-right-radius: var(--bs-border-radius-xl);
}